# This is the gitignore for the 'home directory' repo. 

# black list everything by default 
*

#whitelist things in here to track them
# add the ! as its needed to overide the blacklist
!.gitignore
!.gitignore_global
!.gitconfig
!.git-prompt.sh
!.vimrc
!colors
!readme.md
!colors/*
!.zshrc
